{:layers {:caps_lock-mode {:key :caps_lock}},
:main [{:des "extended layer with caps-lock key",
     :rules [:caps_lock-mode
          [:comma :!!comma]
          [:period :page_down]
          [:slash :!!slash]
          [:semicolon :!!semicolon]
          [:quote :delete_or_backspace]
          [:spacebar :delete_forward]
          [:a :!!a]
          [:b :!!b]
          [:c :!!c]
          [:d :!!d]
          [:e :!!e]
          [:f :!!f]
          [:g :!!g]
          [:h :!!h]
          [:i :up_arrow]
          [:j :left_arrow]
          [:k :down_arrow]
          [:l :right_arrow]
          [:m :page_up]
          [:n :!!n]
          [:o :end]
          [:p :!!p]
          [:q :!!q]
          [:r :!!r]
          [:s :!!s]
          [:t :!!t]
          [:u :home]
          [:v :!!v]
          [:w :!!w]
          [:x :!!x]
          [:y :!!y]
          [:z :!!z]
          [:1 :!!1]
          [:2 :!!2]
          [:3 :!!3]
          [:4 :!!4]
          [:5 :!!5]
          [:6 :!!6]
          [:7 :!!7]
          [:8 :!!8]
          [:9 :!!9]
          [:0 :!!0]
      ]}]
 }